---
Checks: >
  clang-diagnostic-*,
  clang-analyzer-*,
  llvm-*,
  modernize-*,
  performance-*,
  portability-*,
  readability-*,
  bugprone-*,
  -clang-analyzer-alpha*,
  -modernize-use-trailing-return-type,
  -readability-braces-around-statements,
  -readability-magic-numbers,
  -readability-named-parameter,
  -llvm-header-guard,
  -llvm-include-order

WarningsAsErrors: ''

HeaderFilterRegex: '(src/|include/|lsp/|tests/).*\.(h|hpp)$'

AnalyzeTemporaryDtors: false

FormatStyle: file